@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
	<title>Index</title>
</head>
<body>
	<div class="container">
        <h1>@ViewBag.Greeting World (from the view)</h1>
        <p>
            Lorem ipsum dolor sit amet, eu has quidam deserunt sapientem, pro quaeque expetendis no. Denique minimum suscipit eos an, no sit movet tritani constituam. Dicant consetetur ad mel, maiorum epicuri pericula vim at, tritani incorrupte accommodare nec et. Mea convenire delicatissimi in, id nam feugait expetenda.

            At cum clita volumus, an vis viris pertinax. Expetendis efficiendi ne vis. Id cum postea graeci mollis, vim amet solum saepe ex, vis aeterno labores ut. Ex mea semper aliquid, eum te impetus eleifend, no eos nihil reformidans. Quodsi salutandi quo ne, in veniam percipit periculis usu. At vim elit etiam diceret.

            Audiam persecuti mea ea, pro et alii quando eruditi. Novum tacimates gloriatur vim in, vim ut mnesarchum reprimique, sed cu elit labore vituperata. Et diam omnis equidem has. Cu eos etiam nihil nullam, ea duo solet veniam accusamus, te ius mandamus similique referrentur. Elitr debitis pro et, putent deterruisset his ad.

            Everti conceptam voluptatum vis te, possim insolens nam id, reque augue eu mel. Ex est adhuc dolore. Ludus suscipiantur vel et, et graece mentitum explicari vis. Mel animal adipiscing eu.

            Mea debet labore aeterno no, id pri prompta dolorum definiebas. Pri te libris definiebas, at est adipiscing vituperata consectetuer. Ut dictas scripta qui, latine dolorum deterruisset sea ut. Cu vulputate dissentiunt eam, movet persecuti philosophia mel id, odio repudiare urbanitas cu vix. Vim ne agam partem omnium.
        </p>
        <div class="text-center">
            <h3>We're going to have an exciting party!</h3>
            <h4>And you are invited</h4>
            <a class="btn btn-primary" asp-action="RSVPResponse">RSVP Now</a>
        </div>
	</div>
</body>
</html>